absl-py==2.0.0
aiohttp==3.9.3
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
cachetools==5.3.2
Cython==0.29.37
filelock==3.9.0
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2023.4.0
gast==0.4.0
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.59.3
h5py==3.10.0
hdbscan==0.8.33
immutabledict==4.2.0
keras==2.10.0
Keras-Preprocessing==1.1.2
keras-tuner==1.4.6
kt-legacy==1.0.5
libclang==16.0.6
lightning-utilities==0.10.1
Markdown==3.5.1
matplotlib
mkl-service==2.4.0
mpmath==1.2.1
mtcnn==0.1.1
multidict==6.0.5
munkres==1.1.4
networkx==3.0rc1
numpy==1.26.0
oauthlib==3.2.2
opencv-contrib-python==4.8.1.78
opencv-python==4.9.0.80
opt-einsum==3.3.0
ortools==9.10.4067
ply==3.11
protobuf==4.25.3
pyarrow==21.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydot==1.4.2
PyQt5==5.15.10
pyswarm==0.6
pytorch-lightning==2.2.1
pytorch-lightning-bolts==0.3.2.post1
PyWavelets==1.5.0
pywin32==305.1
requests-oauthlib==1.3.1
rsa==4.9
scikeras==0.12.0
scikit-learn
scipy==1.11.3
seaborn==0.13.2
sympy==1.11.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-addons==0.22.0
tensorflow-estimator==2.10.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
torch==2.2.1+cu121
torchaudio==2.2.1+cu121
torchmetrics==1.3.1
torchvision==0.17.1
tqdm==4.66.1
typeguard==2.13.3
typing_extensions==4.8.0
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.16.0
yarl==1.9.4
